{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<body>
    <div class="h-screen flex">
        <div class="flex w-1/2 bg-gradient-to-r from-sky-300 to-emerald-100 i justify-around items-center p-20">
            <div>
                <h1 class="text-sky-950 text-start text-7xl font-bold">Nous travaillons pour votre santé à chaque visite.</h1>
            </div>
        </div>
        <div class="flex w-1/2 justify-center items-center bg-white">

            <form method="post">

                
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="grid gap-6 ">
                <h3 class="flex items-start mb-6 font-bold text-2xl font-sans">Connectez-vous</h3>
                </div>
                <div class="mb-6">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  placeholder="Exemple@email.com"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="email" required>
                </div>

                

                <div class="mb-6">
                <input type="password"  placeholder="Password" style="width: 300px;"  name="password" id="inputPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >



                <button class="flex items-center text-text-sky-950 bg-amber-400 hover:bg-amber-500 focus:amber-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5" type="submit">
                    Sign in
                </button>
            </form>
            
        </div>
    </div>
</body>



{% endblock %}
