<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body>
    <div class="h-screen flex">
        <div class="flex w-1/2 bg-sky-200 i justify-around items-center">
            <div>
                <h1 class="text-sky-950 font-bold text-4xl font-sans">Nous travaillons pour<br>votre santé à chaque
                    visite.</h1>
            </div>
        </div>
        <div class="flex w-1/2 justify-center items-center bg-white">
    
            {{ form_start(form) }}
                <h3 class="flex items-start mb-6 font-bold text-2xl font-sans">Inscrivez-vous</h3>

                <div class="mb-6">
                    {{ form_widget(form.nom, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': 'Nom',
                            'required': 'required'
                        }
                    }) }}
                </div>
                <div class="mb-6">
                    {{ form_widget(form.prenom, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': 'Prénom',
                            'required': 'required'
                        }
                    }) }}
                </div>

                
                <div class="mb-6">
                {{form_widget(form.sexe)}}
                </div>


                <div class="mb-6">
                    {{form_widget(form.dateNaiss)}}
                </div>

                <div class="mb-6">
                    {{ form_widget(form.numTel, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': '+216 50 123 456',
                            'required': 'required'
                        }
                    }) }}
                </div>

                <div class="mb-6">
                    {{ form_widget(form.email, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': 'exemple@email.com',
                            'required': 'required'
                        }
                    }) }}
                </div>

                <div class="mb-6">
                    {{ form_widget(form.adresse, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': 'Adresse',
                            'required': 'required'
                        }
                    }) }}
                </div>

                <div class="grid gap-6 md:grid-cols-2">
                    <div class="mb-6">
                    {{form_widget(form.ville)}}
                    </div>
                <div>
                    {{ form_widget(form.codePostal, {
                        'attr': {
                            'id': 'code',
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': '1000',
                            'required': 'required'
                        }
                    }) }}
                </div>

                </div>

                <div class="mb-6">
                    {{ form_widget(form.matricule, {
                        'attr': {
                            'id': 'matricule',
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                            'placeholder': 'Matricule CNSS ',
                            'required': 'required'
                        }
                    }) }}
                </div>

                <div class="mb-6">
                    {{ form_widget(form.password.first, {
                    'attr': {
                    'type': 'password',
                    'id': 'password',
                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                    'placeholder': 'Password',
                    'required': 'required'
                    }
                    }) }}
                </div>

                                <div class="mb-6">
                    {{ form_widget(form.password.second, {
                    'attr': {
                    'type': 'password',
                    'id': 'password',
                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                    'placeholder': 'Confirm Password',
                    'required': 'required'
                    }
                    }) }}
                </div>
                {{ form_widget(form.ajouter)}}
            {{ form_end(form) }}
        </div>
    </div>
</body>
</html>