<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>

<body>
  <nav class="bg-white w-full">
    <div class="mx-auto w-full px-10">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <a href="{{ path('app_logout') }}"
            class="flex items-center border-2 border-gray-400 bg-white text-gray-600 mr-4 rounded-lg text-sm px-4 py-2">
            <span class="mr-2">Déconnexion</span>
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Iconly/Light/Logout</title>
                <g id="Iconly/Light/Logout" stroke="#000000" stroke-width="1.5" fill="none" fill-rule="evenodd"
                  stroke-linecap="round" stroke-linejoin="round">
                  <g id="Logout" transform="translate(2.000000, 2.000000)" stroke="#475569" stroke-width="1.5">
                    <path
                      d="M13.016,5.3895 L13.016,4.4565 C13.016,2.4215 11.366,0.7715 9.331,0.7715 L4.456,0.7715 C2.422,0.7715 0.772,2.4215 0.772,4.4565 L0.772,15.5865 C0.772,17.6215 2.422,19.2715 4.456,19.2715 L9.341,19.2715 C11.37,19.2715 13.016,17.6265 13.016,15.5975 L13.016,14.6545"
                      id="Stroke-1"></path>
                    <line x1="19.8095" y1="10.0214" x2="7.7685" y2="10.0214" id="Stroke-3"></line>
                    <polyline id="Stroke-5" points="16.8812 7.1063 19.8092 10.0213 16.8812 12.9373"></polyline>
                  </g>
                </g>
              </svg>
            </span>
          </a>


        </div>
      </div>
    </div>
  </nav>
  <div class="px-10 flex-col items-center content-center h-full">
    <div
      class="flex-col relative items-center bg-gradient-to-r from-sky-300 to-emerald-100 p-10 rounded-3xl h-full w-full">
      <div>
        <section class="flex justify-center">
          <div class="flex-auto justify-center pe-4">
            <h1 class="text-2xl font-semibold pb-8">Liste des rendez-vous</h1>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                      n°rdv
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Nom & Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Heure
                    </th>

                    <th scope="col" class="px-6 py-3">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for rdv in r %}
                  {%if rdv.valid%}
                  <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                      {{rdv.id}}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                      {{ rdv.patient.nom }}
                      {{ rdv.patient.prenom }}
                    </th>
                    <td class="px-6 py-4">
                      {{ rdv.date|date('Y-m-d') }}
                    </td>
                    <td class="px-6 py-4">
                      {{ rdv.time|date('H:i') }}
                    </td>
                    
                    <td class="px-6 py-4 text-red-600">
                    {%if not rdv.consulted%}
                      <a href="{{ path('makeConsulted', {'id': rdv.id}) }}"
                        class="rounded-md py-1 px-2 bg-blue-100 font-medium text-blue-600 hover:bg-blue-200">Consulter</a>
                    {%else%}
                        <a
                        class="rounded-md py-1 px-2 font-medium text-blue-600">Consulté</a>
                    {%endif%}
                    </td>

                    
                  </tr>
                  {%endif%}
                {% endfor %}
               
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

</body>

</html>